In [1]:
import pandas as pd
import numpy as np

## Academico

In [2]:
data_aca_2023 = pd.read_csv('../data/academico_2023.csv', encoding='latin1', sep=';')
data_aca_2024 = pd.read_csv('../data/academico_2024.csv', encoding='latin1', sep = ';')

D:\Usuarios\ir75854603\AppData\Local\Temp\ipykernel_26704\129942648.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  data_aca_2023 = pd.read_csv('../data/academico_2023.csv', encoding='latin1', sep=';')

In [5]:
data_aca_2023.estudiantes.unique()

array(['JAIDER', 'ALBERTH', 'SANDY', ..., 'TOCTO MENDOZA, KIARA LIZETH',
       'VARONA ZAPATA, JHAROL ADRIEL', 'ZAPATA VARONA, JAIME LEVI'],
      shape=(6420,), dtype=object)

In [6]:
data_aca_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51556 entries, 0 to 51555
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   AÑO                    51556 non-null  int64
 1   region_ie              51556 non-null  object
 2   provincia_ie           51556 non-null  object
 3   ugel_ie                51556 non-null  object
 4   distrito_ie            51556 non-null  object
 5   centropoblado_ie       51556 non-null  object
 6   institucion_educativa  51556 non-null  object
 7   codigolocal_ie         51556 non-null  int64
 8   codigomodular_ie       51556 non-null  int64
 9   ruralidad              51556 non-null  object
 10  estudiantes            51556 non-null  object
 11  grado                  51556 non-null  object
 12  periodo                51556 non-null  object
 13  curso                  51556 non-null  object
 14  comp                   51556 non-null  object
 15  nivel_de_logro         51556 non-null  object
 16  dni_participante       51556 non-null  int64
 17  id_participante        51556 non-null  object
 18  participante           51556 non-null  object
 19  coordinador_a          51556 non-null  object
 20  programa               51556 non-null  object
 21  año_pdl                51556 non-null  object
 22  socios                 43820 non-null  object
 23  id_seccion             51556 non-null  object
 24  TIPO                   48482 non-null  object
dtypes: int64(4), object(21)
memory usage: 9.8+ MB

In [7]:
data_aca_2024.estudiantes.nunique()

10531

In [8]:
data_aca_2023.estudiantes.nunique()

6420

In [9]:
data_aca_2024.nivel_de_logro.value_counts()

nivel_de_logro
En proceso          19418
Satisfactorio       16912
En inicio           14685
Debajo de inicio      541
Name: count, dtype: int64

In [10]:
data_aca_2024.AÑO.value_counts()

AÑO
2024    51556
Name: count, dtype: int64

In [11]:
data_aca_2023.columns

Index(['AÑO', 'region_ie', 'provincia_ie', 'ugel_ie', 'distrito_ie',
       'centropoblado_ie', 'institucion_educativa', 'codigolocal_ie',
       'codigomodular_ie', 'ruralidad', 'estudiantes', 'grado', 'periodo',
       'curso', 'comp', 'nivel_de_logro', 'dni_participante',
       'id_participante', 'participante', 'coordinador_a', 'programa',
       'año_pdl', 'socios'],
      dtype='object')

In [12]:
data_aca_2024.columns

Index(['AÑO', 'region_ie', 'provincia_ie', 'ugel_ie', 'distrito_ie',
       'centropoblado_ie', 'institucion_educativa', 'codigolocal_ie',
       'codigomodular_ie', 'ruralidad', 'estudiantes', 'grado', 'periodo',
       'curso', 'comp', 'nivel_de_logro', 'dni_participante',
       'id_participante', 'participante', 'coordinador_a', 'programa',
       'año_pdl', 'socios', 'id_seccion', 'TIPO'],
      dtype='object')

In [13]:
data_aca_2024 = data_aca_2024.drop(['id_seccion', 'TIPO'], axis=1)

In [14]:
data_academico = pd.concat([data_aca_2023, data_aca_2024], ignore_index=True)
data_academico.shape

(96137, 23)

In [15]:
data_academico.nivel_de_logro.value_counts()

nivel_de_logro
Satisfactorio       34601
En proceso          34469
En inicio           26526
Debajo de inicio      541
Name: count, dtype: int64

In [16]:
data_academico.loc[data_academico["nivel_de_logro"] == 'Debajo de inicio', 'nivel_de_logro'] = 'En inicio'

## Socioemocional

In [17]:
data_soc_2023 = pd.read_csv('../data/socioemocional_2023.csv', encoding='latin1', sep = ';')
data_soc_2024 = pd.read_csv('../data/socioemocional_2024.csv', encoding='latin1', sep = ';')

In [18]:
data_soc_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144730 entries, 0 to 144729
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   AÑO                    144730 non-null  int64
 1   region_ie              144730 non-null  object
 2   provincia_ie           144730 non-null  object
 3   ugel_ie                144730 non-null  object
 4   distrito_ie            144730 non-null  object
 5   centropoblado_ie       144730 non-null  object
 6   institucion_educativa  144730 non-null  object
 7   codigolocal_ie         144730 non-null  int64
 8   codigomodular_ie       144730 non-null  int64
 9   ruralidad              144730 non-null  object
 10  id_estudiante          144730 non-null  object
 11  grado                  144730 non-null  object
 12  fecha                  144730 non-null  object
 13  evaluación             144730 non-null  object
 14  habilidad              144730 non-null  object
 15  promedio               144730 non-null  float64
 16  nivel_de_logro         144730 non-null  object
 17  dni_participante       144692 non-null  object
 18  id_participante        144730 non-null  object
 19  participantes_sección  144730 non-null  object
 20  coordinador_a          144730 non-null  object
 21  programa               144730 non-null  object
 22  año_pdl                144730 non-null  object
 23  socios                 144730 non-null  object
 24  id_seccion             0 non-null       float64
 25  Ruralidad              0 non-null       float64
dtypes: float64(3), int64(3), object(20)
memory usage: 28.7+ MB

In [19]:
data_soc_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199093 entries, 0 to 199092
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   AÑO                    199093 non-null  int64
 1   region_ie              199093 non-null  object
 2   provincia_ie           199093 non-null  object
 3   ugel_ie                199093 non-null  object
 4   distrito_ie            199093 non-null  object
 5   centropoblado_ie       199093 non-null  object
 6   institucion_educativa  199093 non-null  object
 7   codigolocal_ie         199093 non-null  int64
 8   codigomodular_ie       199093 non-null  int64
 9   ruralidad              199093 non-null  object
 10  id_estudiante          199093 non-null  object
 11  grado                  199093 non-null  object
 12  fecha                  199093 non-null  object
 13  evaluación             199093 non-null  object
 14  habilidad              199093 non-null  object
 15  promedio               199093 non-null  float64
 16  nivel_de_logro         199093 non-null  object
 17  dni_participante       199093 non-null  int64
 18  id_participante        199093 non-null  object
 19  participantes_sección  199093 non-null  object
 20  coordinador_a          199093 non-null  object
 21  programa               199093 non-null  object
 22  año_pdl                199093 non-null  object
 23  socios                 199093 non-null  object
 24  id_seccion             199093 non-null  object
 25  Ruralidad              0 non-null       float64
dtypes: float64(2), int64(4), object(20)
memory usage: 39.5+ MB

In [20]:
data_soc_2023.nivel_de_logro.value_counts()

nivel_de_logro
Satisfactorio      60600
En proceso         30686
Riesgo Moderado    27184
Bajo riesgo        14137
En inicio           7266
Alto riego          4857
Name: count, dtype: int64

In [21]:
data_soc_2024.nivel_de_logro.value_counts()

nivel_de_logro
Satisfactorio      89507
Riesgo moderado    40505
En proceso         36825
Bajo Riesgo        17148
Alto riesgo         8607
En inicio           6501
Name: count, dtype: int64

In [22]:
data_soc_2023.columns

Index(['AÑO', 'region_ie', 'provincia_ie', 'ugel_ie', 'distrito_ie',
       'centropoblado_ie', 'institucion_educativa', 'codigolocal_ie',
       'codigomodular_ie', 'ruralidad', 'id_estudiante', 'grado', 'fecha',
       'evaluación', 'habilidad', 'promedio', 'nivel_de_logro',
       'dni_participante', 'id_participante', 'participantes_sección',
       'coordinador_a', 'programa', 'año_pdl', 'socios', 'id_seccion',
       'Ruralidad'],
      dtype='object')

In [23]:
data_soc_2024.columns

Index(['AÑO', 'region_ie', 'provincia_ie', 'ugel_ie', 'distrito_ie',
       'centropoblado_ie', 'institucion_educativa', 'codigolocal_ie',
       'codigomodular_ie', 'ruralidad', 'id_estudiante', 'grado', 'fecha',
       'evaluación', 'habilidad', 'promedio', 'nivel_de_logro',
       'dni_participante', 'id_participante', 'participantes_sección',
       'coordinador_a', 'programa', 'año_pdl', 'socios', 'id_seccion',
       'Ruralidad'],
      dtype='object')

In [24]:
sorted(data_soc_2023.habilidad.unique())

['Ausentismo y deserción escolar',
 'Autoconcepto',
 'Autocuidado',
 'Autoestima',
 'Comportamiento prosocial',
 'Comunicación asertiva',
 'Conciencia emocional',
 'Conciencia social',
 'Consumo de alcohol y drogas',
 'Creatividad',
 'Desinformación sobre educación sexual integral',
 'Empatía',
 'Entorno de riesgo',
 'Limitada expectativa sobre la educación',
 'Limitada expectativa sobre su proyecto de vida',
 'Limitados recursos económicos',
 'Percepción sobre estereotipos de género',
 'Regulación emocional',
 'Resolución de conflictos',
 'Toma de decisiones responsables',
 'Trabajo adolescente',
 'Trabajo en equipo',
 'Violencia de género',
 'Violencia escolar',
 'Violencia familiar']

In [25]:
sorted(data_soc_2024.habilidad.unique())

['Ausentismo y deserción escolar',
 'Autoconcepto',
 'Autocuidado',
 'Autoestima',
 'Comportamiento prosocial',
 'Comunicación asertiva',
 'Conciencia emocional',
 'Conciencia social',
 'Consumo de alcohol y drogas',
 'Creatividad',
 'Desinformación sobre educación sexual integral',
 'Desinformación sobre educación sexual reproductiva',
 'Empatía',
 'Entorno de riesgo',
 'Limitada expectativa sobre la educación',
 'Limitada expectativa sobre su proyecto de vida',
 'Limitados recursos económicos',
 'Percepción sobre Estereotipos de género',
 'Regulación emocional',
 'Resolución de conflictos',
 'Toma de decisiones responsables',
 'Trabajo adolescente',
 'Trabajo en equipo',
 'Violencia de género',
 'Violencia escolar',
 'Violencia familiar']

In [26]:
data_soc_2024.loc[data_soc_2024['habilidad'] == 'Percepción sobre Estereotipos de género', 'habilidad'] = 'Percepción sobre estereotipos de género'

In [27]:
data_soc_2024 = data_soc_2024.loc[~(data_soc_2024.habilidad == "Desinformación sobre educación sexual reproductiva")]

In [28]:
data_soc_2023 = data_soc_2023.drop(['id_seccion', 'Ruralidad'], axis=1)
data_soc_2024 = data_soc_2024.drop(['id_seccion', 'Ruralidad'], axis=1)

In [29]:
data_socioemocional = pd.concat([data_soc_2023, data_soc_2024], ignore_index=True)
data_socioemocional.shape

(341245, 24)

In [30]:
data_socioemocional.id_participante.nunique()

450

In [31]:
data_socioemocional.grado.nunique()

11

In [32]:
data_socioemocional  = data_socioemocional.rename(columns={'fecha': 'periodo'})

## Clima de Aula

In [33]:
data_clima_2023 = pd.read_csv('../data/clima_aula_2023.csv', encoding='latin1', sep = ';')
data_clima_2024 = pd.read_csv('../data/clima_aula_2024.csv', encoding='latin1', sep = ';')

In [34]:
data_clima_2023.head()

,AÑO,region_ie,provincia_ie,ugel_ie,distrito_ie,centropoblado_ie,institucion_educativa,codigolocal_ie,codigomodular_ie,ruralidad,...,porcentaje_positivas,nivel_de_logro,dni_participante,id_participante,participante,coordinador_a,programa,año_pdl,socios,Ruralidad
0,2023,AREQUIPA,CAYLLOMA,UGEL CAYLLOMA,CALLALLI,CALLALLI,40380,69909,312611,Rural,...,66.67 %,Satisfactorio,46691804,b29b10f0,"CHANA CHANA, EVA","DIAZ SALAZAR, CLAUDIA OLGUITA",PDL,1er año,BHP,Rural
1,2023,ANCASH,HUARI,UGEL HUARI,CHAVIN DE HUANTAR,ISCOG,86052,23940,495705,Rural,...,100.00 %,Satisfactorio,73416240,b29b536b,"RAMIREZ RAMIREZ, MILAGROS","CHOCHABOT PRENON, TRASY",PDL,1er año,"Antamina,Franco Nevada,Wheaton Precious Metals",Rural
2,2023,ANCASH,HUARI,UGEL HUARI,SAN MARCOS,RUNTU,86467,25345,412270,Rural,...,100.00 %,Satisfactorio,46848286,4b581147,"ZAPATA LIZANA, ADA DEL ROSARIO","CHOCHABOT PRENON, TRASY",PDL,Alumni,"Antamina,Franco Nevada,Wheaton Precious Metals",Rural
3,2023,ANCASH,HUARI,UGEL HUARI,SAN MARCOS,RUNTU,86467,25345,412270,Rural,...,100.00 %,Satisfactorio,46848286,4b581147,"ZAPATA LIZANA, ADA DEL ROSARIO","CHOCHABOT PRENON, TRASY",PDL,Alumni,"Antamina,Franco Nevada,Wheaton Precious Metals",Rural
4,2023,ANCASH,HUARI,UGEL HUARI,SAN MARCOS,PUJUN,86469,25393,412379,Rural,...,52.50 %,En proceso,71135300,b29b30b1,"UTURUNCO UTURUNCO, WILLIAN","CARBAJAL ALARCÓN, DIEGO",PDL,1er año,"Antamina,Franco Nevada,Wheaton Precious Metals",Rural

In [35]:
data_clima_2024.head()

,AÑO,region_ie,provincia_ie,ugel_ie,distrito_ie,centropoblado_ie,institucion_educativa,codigolocal_ie,codigomodular_ie,ruralidad,...,nivel_de_logro,dni_participante,id_participante,participante,coordinador_a,programa,año_pdl,socios,id_seccion,Ruralidad
0,2024,LA LIBERTAD,ASCOPE,UGEL ASCOPE,ASCOPE,ASCOPE,80021 SANTA TERESITA DEL NIÑO JESUS,255906,214148,Urbana,...,En proceso,42907017,b6fa379d-ffce-4df3-9747-2f8d530f4b6a,"AGREDA MEREGILDO, DIANA ELIZABETH","CHUMACERO ARE, RUTH VANESSA",QM,No corresponde,Cartavio Rum Company S. A. C - Grupo IF,HIiO9Srkv183p2l,Urbana
1,2024,LA LIBERTAD,ASCOPE,UGEL ASCOPE,ASCOPE,ASCOPE,80021 SANTA TERESITA DEL NIÑO JESUS,255906,214148,Urbana,...,En proceso,42907017,b6fa379d-ffce-4df3-9747-2f8d530f4b6a,"AGREDA MEREGILDO, DIANA ELIZABETH","CHUMACERO ARE, RUTH VANESSA",QM,No corresponde,Cartavio Rum Company S. A. C - Grupo IF,HIiO9Srkv183p2l,Urbana
2,2024,LA LIBERTAD,ASCOPE,UGEL ASCOPE,ASCOPE,ASCOPE,80021 SANTA TERESITA DEL NIÑO JESUS,255906,214148,Urbana,...,En proceso,42907017,b6fa379d-ffce-4df3-9747-2f8d530f4b6a,"AGREDA MEREGILDO, DIANA ELIZABETH","CHUMACERO ARE, RUTH VANESSA",QM,No corresponde,Cartavio Rum Company S. A. C - Grupo IF,HIiO9Srkv183p2l,Urbana
3,2024,LA LIBERTAD,ASCOPE,UGEL ASCOPE,ASCOPE,ASCOPE,80021 SANTA TERESITA DEL NIÑO JESUS,255906,214148,Urbana,...,En inicio,42907017,b6fa379d-ffce-4df3-9747-2f8d530f4b6a,"AGREDA MEREGILDO, DIANA ELIZABETH","CHUMACERO ARE, RUTH VANESSA",QM,No corresponde,Cartavio Rum Company S. A. C - Grupo IF,HIiO9Srkv183p2l,Urbana
4,2024,LA LIBERTAD,ASCOPE,UGEL ASCOPE,ASCOPE,ASCOPE,80021 SANTA TERESITA DEL NIÑO JESUS,255906,214148,Urbana,...,En proceso,42907017,b6fa379d-ffce-4df3-9747-2f8d530f4b6a,"AGREDA MEREGILDO, DIANA ELIZABETH","CHUMACERO ARE, RUTH VANESSA",QM,No corresponde,Cartavio Rum Company S. A. C - Grupo IF,HIiO9Srkv183p2l,Urbana

In [36]:
data_clima_2023.nivel_de_logro.value_counts()

nivel_de_logro
Satisfactorio    3921
En proceso       3217
En inicio         581
Name: count, dtype: int64

In [37]:
data_clima_2024.nivel_de_logro.value_counts()

nivel_de_logro
En proceso       2754
En inicio        2214
Satisfactorio     513
Name: count, dtype: int64

In [38]:
data_clima_2023.columns

Index(['AÑO', 'region_ie', 'provincia_ie', 'ugel_ie', 'distrito_ie',
       'centropoblado_ie', 'institucion_educativa', 'codigolocal_ie',
       'codigomodular_ie', 'ruralidad', 'grado', 'periodo', 'evaluacion',
       'elemento', 'porcentaje_positivas', 'nivel_de_logro',
       'dni_participante', 'id_participante', 'participante', 'coordinador_a',
       'programa', 'año_pdl', 'socios', 'Ruralidad'],
      dtype='object')

In [39]:
data_clima_2024.columns

Index(['AÑO', 'region_ie', 'provincia_ie', 'ugel_ie', 'distrito_ie',
       'centropoblado_ie', 'institucion_educativa', 'codigolocal_ie',
       'codigomodular_ie', 'ruralidad', 'grado', 'periodo', 'evaluacion',
       'elemento', 'porcentaje__positivas', 'nivel_de_logro',
       'dni_participante', 'id_participante', 'participante', 'coordinador_a',
       'programa', 'año_pdl', 'socios', 'id_seccion', 'Ruralidad'],
      dtype='object')

In [40]:
sorted(data_clima_2023.elemento.unique())

['Aprendizaje completamente interiorizado',
 'Comprensión comprobada y asegurada',
 'Expectativas rigurosas mantenidas',
 'Se crea una cultura positiva y un entorno de aprendizaje.',
 'Se establece un entorno de aprendizaje atractivo',
 'Se fomentan relaciones alentadoras y de apoyo.',
 'Se valoran los aportes y las ideas de los estudiantes']

In [41]:
sorted(data_clima_2024.elemento.unique())

['Aprendizaje completamente interiorizado',
 'Comprensión comprobada y asegurada',
 'Expectativas rigurosas mantenidas',
 'Se crea una cultura positiva y un entorno de aprendizaje',
 'Se establece un entorno de aprendizaje atractivo',
 'Se fomentan relaciones alentadoras y de apoyo',
 'Se valoran los aportes y las ideas de los estudiantes']

In [42]:
data_clima_2023.loc[data_clima_2023['elemento'] == 'Se crea una cultura positiva y un entorno de aprendizaje.', 'elemento'] = 'Se crea una cultura positiva y un entorno de aprendizaje'

In [43]:
data_clima_2023.loc[data_clima_2023['elemento'] == 'Se fomentan relaciones alentadoras y de apoyo.', 'elemento'] = 'Se fomentan relaciones alentadoras y de apoyo'

In [44]:
data_clima_2024 = data_clima_2024.rename(columns={'porcentaje__positivas': 'porcentaje_positivas'})

In [45]:
data_clima_2023 = data_clima_2023.drop(['Ruralidad'], axis=1)
data_clima_2024 = data_clima_2024.drop(['id_seccion', 'Ruralidad'], axis=1)

In [46]:
data_clima_aula = pd.concat([data_clima_2023, data_clima_2024], ignore_index=True)
data_clima_aula.shape

(13200, 23)

In [47]:
data_clima_aula.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13200 entries, 0 to 13199
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   AÑO                    13200 non-null  int64
 1   region_ie              13200 non-null  object
 2   provincia_ie           13200 non-null  object
 3   ugel_ie                13200 non-null  object
 4   distrito_ie            13200 non-null  object
 5   centropoblado_ie       13200 non-null  object
 6   institucion_educativa  13200 non-null  object
 7   codigolocal_ie         13200 non-null  int64
 8   codigomodular_ie       13200 non-null  int64
 9   ruralidad              13200 non-null  object
 10  grado                  13200 non-null  object
 11  periodo                13200 non-null  object
 12  evaluacion             13200 non-null  object
 13  elemento               13200 non-null  object
 14  porcentaje_positivas   13175 non-null  object
 15  nivel_de_logro         13200 non-null  object
 16  dni_participante       13186 non-null  object
 17  id_participante        13200 non-null  object
 18  participante           13200 non-null  object
 19  coordinador_a          13200 non-null  object
 20  programa               13200 non-null  object
 21  año_pdl                13200 non-null  object
 22  socios                 13200 non-null  object
dtypes: int64(3), object(20)
memory usage: 2.3+ MB

In [48]:
data_clima_aula.id_participante.nunique()

449

In [49]:
data_academico.grado.unique()

array(['Pri-6xto', 'Pri-1ero', 'Pri-2ndo', 'Pri-3ero', 'Pri-5nto',
       'Pri-4rto', 'Sec-3ero', 'Sec-4rto', 'Sec-1ero', 'Sec-2ndo',
       'Sec-5nto', 'Ini-5nto', 'Ini-4rto', 'Ini-3ero'], dtype=object)

In [50]:
data_socioemocional.grado.unique()

array(['Sec-4rto', 'Sec-2ndo', 'Pri-4rto', 'Pri-1ero', 'Pri-5nto',
       'Sec-1ero', 'Pri-3ero', 'Sec-5nto', 'Pri-6xto', 'Sec-3ero',
       'Pri-2ndo'], dtype=object)

In [51]:
data_clima_aula.grado.unique()

array(['Pri-6xto', 'Pri-5nto', 'Pri-1ero', 'Pri-4rto', 'Pri-2ndo',
       'Pri-3ero', 'Sec-3ero', 'Sec-1ero', 'Sec-2ndo', 'Sec-5nto',
       'Sec-4rto', 'Pri-Única', 'Sec-Única', 'Sec-A', 'Sec-C', 'Pri-A',
       'Pri-B', 'Sec-B', 'Sec-F', 'Sec-E', 'Sec-D', 'Pri-C', 'Pri-D',
       'Sec-G', 'Pri-F'], dtype=object)

## Limpieza de datos

In [52]:
data_academico = data_academico.loc[~data_academico['grado'].isin(['Ini-5nto', 'Ini-4rto', 'Ini-3ero'])]

In [53]:
data_academico.loc[data_academico['grado'].str.startswith('Pri'), 'grado'] = 'Primaria'
data_academico.loc[data_academico['grado'].str.startswith('Sec'), 'grado'] = 'Secundaria'

In [54]:
data_socioemocional.loc[data_socioemocional['grado'].str.startswith('Pri'), 'grado'] = 'Primaria'
data_socioemocional.loc[data_socioemocional['grado'].str.startswith('Sec'), 'grado'] = 'Secundaria'

In [55]:
data_clima_aula.loc[data_clima_aula['grado'].str.startswith('Pri'), 'grado'] = 'Primaria'
data_clima_aula.loc[data_clima_aula['grado'].str.startswith('Sec'), 'grado'] = 'Secundaria'

In [56]:
data_academico.grado.value_counts()

grado
Primaria      74256
Secundaria    18807
Name: count, dtype: int64

In [57]:
data_socioemocional.grado.value_counts()

grado
Secundaria    255337
Primaria       85908
Name: count, dtype: int64

In [58]:
data_clima_aula.grado.value_counts()

grado
Primaria      6839
Secundaria    6361
Name: count, dtype: int64

In [59]:
data_academico.id_participante.nunique()

687

In [60]:
data_academico.to_csv("..\\data\\academico_.csv", index=False)

In [61]:
data_socioemocional.to_csv('..\\data\\socioemocional_.csv', index=False)

In [62]:
data_clima_aula.to_csv('..\\data\\clima_aula_.csv', index=False)