In [137]:
import pandas as pd
import numpy as np

## Academico

In [138]:
data_aca_2023 = pd.read_csv('../data/academico_2023.csv', encoding='latin1', sep=';')
data_aca_2024 = pd.read_csv('../data/academico_2024.csv', encoding='latin1', sep = ';')

C:\Users\jange\AppData\Local\Temp\ipykernel_31856\129942648.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  data_aca_2023 = pd.read_csv('../data/academico_2023.csv', encoding='latin1', sep=';')

In [139]:
data_aca_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44581 entries, 0 to 44580
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   anio                   44581 non-null  int64
 1   region_ie              44581 non-null  object
 2   provincia_ie           44581 non-null  object
 3   ugel_ie                44581 non-null  object
 4   distrito_ie            44581 non-null  object
 5   centropoblado_ie       44581 non-null  object
 6   institucion_educativa  44581 non-null  object
 7   codigolocal_ie         44581 non-null  int64
 8   codigomodular_ie       44581 non-null  int64
 9   ruralidad              44581 non-null  object
 10  estudiantes            44581 non-null  object
 11  grado                  44581 non-null  object
 12  periodo                44581 non-null  object
 13  curso                  44581 non-null  object
 14  comp                   44581 non-null  object
 15  nivel_de_logro         44581 non-null  object
 16  dni_participante       44517 non-null  object
 17  id_participante        44581 non-null  object
 18  participante           44581 non-null  object
 19  coordinador_a          44581 non-null  object
 20  programa               44581 non-null  object
 21  anio_pdl               44581 non-null  object
 22  socios                 44581 non-null  object
dtypes: int64(3), object(20)
memory usage: 7.8+ MB

In [140]:
data_aca_2023.id_participante.nunique()

231

In [206]:
data_aca_2023.programa.value_counts()

programa
PDL    25367
QM     19214
Name: count, dtype: int64

In [208]:
data_aca_2024 = data_aca_2024.loc[~data_aca_2024['programa'].isin(['Palanca 1 y 2'])]

In [209]:
data_aca_2024.programa.value_counts()

programa
QM     25135
PDL    18685
Name: count, dtype: int64

In [141]:
data_aca_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51556 entries, 0 to 51555
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   anio                   51556 non-null  int64
 1   region_ie              51556 non-null  object
 2   provincia_ie           51556 non-null  object
 3   ugel_ie                51556 non-null  object
 4   distrito_ie            51556 non-null  object
 5   centropoblado_ie       51556 non-null  object
 6   institucion_educativa  51556 non-null  object
 7   codigolocal_ie         51556 non-null  int64
 8   codigomodular_ie       51556 non-null  int64
 9   ruralidad              51556 non-null  object
 10  estudiantes            51556 non-null  object
 11  grado                  51556 non-null  object
 12  periodo                51556 non-null  object
 13  curso                  51556 non-null  object
 14  comp                   51556 non-null  object
 15  nivel_de_logro         51556 non-null  object
 16  dni_participante       51556 non-null  int64
 17  id_participante        51556 non-null  object
 18  participante           51556 non-null  object
 19  coordinador_a          51556 non-null  object
 20  programa               51556 non-null  object
 21  anio_pdl               51556 non-null  object
 22  socios                 43820 non-null  object
 23  id_seccion             51556 non-null  object
 24  tipo                   48482 non-null  object
dtypes: int64(4), object(21)
memory usage: 9.8+ MB

In [142]:
data_aca_2024.id_participante.nunique()

488

In [143]:
data_aca_2023.estudiantes.nunique()

6420

In [144]:
data_aca_2024.estudiantes.nunique()

10531

In [145]:
data_aca_2023.columns

Index(['anio', 'region_ie', 'provincia_ie', 'ugel_ie', 'distrito_ie',
       'centropoblado_ie', 'institucion_educativa', 'codigolocal_ie',
       'codigomodular_ie', 'ruralidad', 'estudiantes', 'grado', 'periodo',
       'curso', 'comp', 'nivel_de_logro', 'dni_participante',
       'id_participante', 'participante', 'coordinador_a', 'programa',
       'anio_pdl', 'socios'],
      dtype='object')

In [146]:
data_aca_2024.columns

Index(['anio', 'region_ie', 'provincia_ie', 'ugel_ie', 'distrito_ie',
       'centropoblado_ie', 'institucion_educativa', 'codigolocal_ie',
       'codigomodular_ie', 'ruralidad', 'estudiantes', 'grado', 'periodo',
       'curso', 'comp', 'nivel_de_logro', 'dni_participante',
       'id_participante', 'participante', 'coordinador_a', 'programa',
       'anio_pdl', 'socios', 'id_seccion', 'tipo'],
      dtype='object')

In [147]:
data_aca_2024.tipo.value_counts()

tipo
Evaluaci√≥n interna    40902
URMECEA                7580
Name: count, dtype: int64

In [148]:
data_aca_2024 = data_aca_2024.drop(['id_seccion', 'tipo'], axis=1)

In [149]:
data_academico = pd.concat([data_aca_2023, data_aca_2024], ignore_index=True)
data_academico.shape

(96137, 23)

In [150]:
data_academico.nivel_de_logro.value_counts()

nivel_de_logro
Satisfactorio       34601
En proceso          34469
En inicio           26526
Debajo de inicio      541
Name: count, dtype: int64

In [151]:
data_academico.loc[data_academico["nivel_de_logro"] == 'Debajo de inicio', 'nivel_de_logro'] = 'En inicio'

## QM

In [210]:
data_qm_2023 = pd.read_csv('../data/qm_2023.csv', encoding='latin1', sep = ';')
data_qm_2024 = pd.read_csv('../data/qm_2024.csv', encoding='latin1', sep = ';')

In [211]:
data_qm_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1114 entries, 0 to 1113
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   anio                   1114 non-null   int64
 1   region_ie              1114 non-null   object
 2   provincia_ie           1114 non-null   object
 3   ugel_ie                1114 non-null   object
 4   distrito_ie            1114 non-null   object
 5   centropoblado_ie       1114 non-null   object
 6   institucion_educativa  1114 non-null   object
 7   codigolocal_ie1        1114 non-null   int64
 8   codigomodular_ie       1114 non-null   int64
 9   ruralidad              1114 non-null   object
 10  participante           1114 non-null   object
 11  coordinador_a          1114 non-null   object
 12  programa               1114 non-null   object
 13  socios                 1114 non-null   object
 14  habilidad              1114 non-null   object
 15  periodo                1114 non-null   object
 16  nivel_de_logro         1114 non-null   object
 17  conclusiones           898 non-null    object
 18  id_participante        1114 non-null   object
dtypes: int64(3), object(16)
memory usage: 165.5+ KB

In [212]:
data_qm_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1824 entries, 0 to 1823
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   anio                   1824 non-null   int64
 1   region_ie              1824 non-null   object
 2   provincia_ie           1824 non-null   object
 3   ugel_ie                1824 non-null   object
 4   distrito_ie            1824 non-null   object
 5   centropoblado_ie       1824 non-null   object
 6   institucion_educativa  1824 non-null   object
 7   codigolocal_ie1        1824 non-null   int64
 8   codigomodular_ie       1824 non-null   int64
 9   ruralidad              1824 non-null   object
 10  participante           1824 non-null   object
 11  coordinador_a          1824 non-null   object
 12  programa               1824 non-null   object
 13  socios                 1824 non-null   object
 14  habilidad              1571 non-null   object
 15  periodo                1824 non-null   object
 16  nivel_de_logro         1612 non-null   object
 17  conclusiones           1589 non-null   object
 18  id_participante        1824 non-null   object
dtypes: int64(3), object(16)
memory usage: 270.9+ KB

In [213]:
data_aca_2023.programa.value_counts()

programa
PDL    25367
QM     19214
Name: count, dtype: int64

In [ ]:
data_qm_2023.nivel_de_logro.value_counts()

nivel_de_logro
Satisfactorio      60600
En proceso         30686
Riesgo Moderado    27184
Bajo riesgo        14137
En inicio           7266
Alto riego          4857
Name: count, dtype: int64

In [ ]:
data_qm_2024.nivel_de_logro.value_counts()

nivel_de_logro
Satisfactorio      89507
Riesgo moderado    40505
En proceso         36825
Bajo Riesgo        17148
Alto riesgo         8607
En inicio           6501
Name: count, dtype: int64

In [ ]:
data_qm_2023.columns

Index(['anio', 'region_ie', 'provincia_ie', 'ugel_ie', 'distrito_ie',
       'centropoblado_ie', 'institucion_educativa', 'codigolocal_ie',
       'codigomodular_ie', 'ruralidad', 'id_estudiante', 'grado', 'fecha',
       'evaluaci√≥n', 'habilidad', 'promedio', 'nivel_de_logro',
       'dni_participante', 'id_participante', 'participantes_secci√≥n',
       'coordinador_a', 'programa', 'anio_pdl', 'socios'],
      dtype='object')

In [ ]:
data_qm_2024.columns

Index(['anio', 'region_ie', 'provincia_ie', 'ugel_ie', 'distrito_ie',
       'centropoblado_ie', 'institucion_educativa', 'codigolocal_ie',
       'codigomodular_ie', 'ruralidad', 'id_estudiante', 'grado', 'fecha',
       'evaluaci√≥n', 'habilidad', 'promedio', 'nivel_de_logro',
       'dni_participante', 'id_participante', 'participantes_secci√≥n',
       'coordinador_a', 'programa', 'anio_pdl', 'socios', 'id_seccion'],
      dtype='object')

In [ ]:
sorted(data_qm_2023.habilidad.unique())

['Ausentismo y deserci√≥n escolar',
 'Autoconcepto',
 'Autocuidado',
 'Autoestima',
 'Comportamiento prosocial',
 'Comunicaci√≥n asertiva',
 'Conciencia emocional',
 'Conciencia social',
 'Consumo de alcohol y drogas',
 'Creatividad',
 'Desinformaci√≥n sobre educaci√≥n sexual integral',
 'Empat√≠a',
 'Entorno de riesgo',
 'Limitada expectativa sobre la educaci√≥n',
 'Limitada expectativa sobre su proyecto de vida',
 'Limitados recursos econ√≥micos',
 'Percepci√≥n sobre estereotipos de g√©nero',
 'Regulaci√≥n emocional',
 'Resoluci√≥n de conflictos',
 'Toma de decisiones responsables',
 'Trabajo adolescente',
 'Trabajo en equipo',
 'Violencia de g√©nero',
 'Violencia escolar',
 'Violencia familiar']

In [ ]:
sorted(data_qm_2024.habilidad.unique())

['Ausentismo y deserci√≥n escolar',
 'Autoconcepto',
 'Autocuidado',
 'Autoestima',
 'Comportamiento prosocial',
 'Comunicaci√≥n asertiva',
 'Conciencia emocional',
 'Conciencia social',
 'Consumo de alcohol y drogas',
 'Creatividad',
 'Desinformaci√≥n sobre educaci√≥n sexual integral',
 'Desinformaci√≥n sobre educaci√≥n sexual reproductiva',
 'Empat√≠a',
 'Entorno de riesgo',
 'Limitada expectativa sobre la educaci√≥n',
 'Limitada expectativa sobre su proyecto de vida',
 'Limitados recursos econ√≥micos',
 'Percepci√≥n sobre Estereotipos de g√©nero',
 'Regulaci√≥n emocional',
 'Resoluci√≥n de conflictos',
 'Toma de decisiones responsables',
 'Trabajo adolescente',
 'Trabajo en equipo',
 'Violencia de g√©nero',
 'Violencia escolar',
 'Violencia familiar']

In [ ]:
data_qm_2024.loc[data_qm_2024['habilidad'] == 'Percepci√≥n sobre Estereotipos de g√©nero', 'habilidad'] = 'Percepci√≥n sobre estereotipos de g√©nero'

In [ ]:
data_qm_2024 = data_qm_2024.loc[~(data_qm_2024.habilidad == "Desinformaci√≥n sobre educaci√≥n sexual reproductiva")]

In [ ]:
data_qm_2024 = data_qm_2024.drop(['id_seccion'], axis=1)

In [ ]:
data_socioemocional = pd.concat([data_qm_2023, data_qm_2024], ignore_index=True)
data_socioemocional.shape

(341245, 24)

In [165]:
data_socioemocional.id_participante.nunique()

472

In [166]:
data_socioemocional.grado.unique()

array(['Sec-4rto', 'Sec-2ndo', 'Pri-4rto', 'Pri-1ero', 'Pri-5nto',
       'Sec-1ero', 'Pri-3ero', 'Sec-5nto', 'Pri-6xto', 'Sec-3ero',
       'Pri-2ndo'], dtype=object)

In [167]:
data_socioemocional  = data_socioemocional.rename(columns={'fecha': 'periodo'})

## Clima de Aula

In [168]:
data_clima_2023 = pd.read_csv('../data/clima_aula_2023.csv', encoding='latin1', sep = ';')
data_clima_2024 = pd.read_csv('../data/clima_aula_2024.csv', encoding='latin1', sep = ';')

In [169]:
data_clima_2023.head()

,anio,region_ie,provincia_ie,ugel_ie,distrito_ie,centropoblado_ie,institucion_educativa,codigolocal_ie,codigomodular_ie,ruralidad,...,elemento,porcentaje_positivas,nivel_de_logro,dni_participante,id_participante,participante,coordinador_a,programa,anio_pdl,socios
0,2023,AREQUIPA,CAYLLOMA,UGEL CAYLLOMA,CALLALLI,CALLALLI,40380,69909,312611,Rural,...,Aprendizaje completamente interiorizado,66.67 %,Satisfactorio,46691804,b29b10f0,"CHANA CHANA, EVA","DIAZ SALAZAR, CLAUDIA OLGUITA",PDL,1er anio,BHP
1,2023,ANCASH,HUARI,UGEL HUARI,CHAVIN DE HUANTAR,ISCOG,86052,23940,495705,Rural,...,Expectativas rigurosas mantenidas,100.00 %,Satisfactorio,73416240,b29b536b,"RAMIREZ RAMIREZ, MILAGROS","CHOCHABOT PRENON, TRASY",PDL,1er anio,"Antamina,Franco Nevada,Wheaton Precious Metals"
2,2023,ANCASH,HUARI,UGEL HUARI,SAN MARCOS,RUNTU,86467,25345,412270,Rural,...,Aprendizaje completamente interiorizado,100.00 %,Satisfactorio,46848286,4b581147,"ZAPATA LIZANA, ADA DEL ROSARIO","CHOCHABOT PRENON, TRASY",PDL,Alumni,"Antamina,Franco Nevada,Wheaton Precious Metals"
3,2023,ANCASH,HUARI,UGEL HUARI,SAN MARCOS,RUNTU,86467,25345,412270,Rural,...,Comprensi√≥n comprobada y asegurada,100.00 %,Satisfactorio,46848286,4b581147,"ZAPATA LIZANA, ADA DEL ROSARIO","CHOCHABOT PRENON, TRASY",PDL,Alumni,"Antamina,Franco Nevada,Wheaton Precious Metals"
4,2023,ANCASH,HUARI,UGEL HUARI,SAN MARCOS,PUJUN,86469,25393,412379,Rural,...,Se establece un entorno de aprendizaje atractivo,52.50 %,En proceso,71135300,b29b30b1,"UTURUNCO UTURUNCO, WILLIAN","CARBAJAL ALARC√ìN, DIEGO",PDL,1er anio,"Antamina,Franco Nevada,Wheaton Precious Metals"

In [170]:
data_clima_2024.head()

,anio,region_ie,provincia_ie,ugel_ie,distrito_ie,centropoblado_ie,institucion_educativa,codigolocal_ie,codigomodular_ie,ruralidad,...,porcentaje__positivas,nivel_de_logro,dni_participante,id_participante,participante,coordinador_a,programa,anio_pdl,socios,id_seccion
0,2024,LA LIBERTAD,ASCOPE,UGEL ASCOPE,ASCOPE,ASCOPE,80021 SANTA TERESITA DEL NIniO JESUS,255906,214148,Urbana,...,48.80%,En proceso,42907017,b6fa379d-ffce-4df3-9747-2f8d530f4b6a,"AGREDA MEREGILDO, DIANA ELIZABETH","CHUMACERO ARE, RUTH VANESSA",QM,No corresponde,Cartavio Rum Company S. A. C - Grupo IF,HIiO9Srkv183p2l
1,2024,LA LIBERTAD,ASCOPE,UGEL ASCOPE,ASCOPE,ASCOPE,80021 SANTA TERESITA DEL NIniO JESUS,255906,214148,Urbana,...,51.70%,En proceso,42907017,b6fa379d-ffce-4df3-9747-2f8d530f4b6a,"AGREDA MEREGILDO, DIANA ELIZABETH","CHUMACERO ARE, RUTH VANESSA",QM,No corresponde,Cartavio Rum Company S. A. C - Grupo IF,HIiO9Srkv183p2l
2,2024,LA LIBERTAD,ASCOPE,UGEL ASCOPE,ASCOPE,ASCOPE,80021 SANTA TERESITA DEL NIniO JESUS,255906,214148,Urbana,...,48.80%,En proceso,42907017,b6fa379d-ffce-4df3-9747-2f8d530f4b6a,"AGREDA MEREGILDO, DIANA ELIZABETH","CHUMACERO ARE, RUTH VANESSA",QM,No corresponde,Cartavio Rum Company S. A. C - Grupo IF,HIiO9Srkv183p2l
3,2024,LA LIBERTAD,ASCOPE,UGEL ASCOPE,ASCOPE,ASCOPE,80021 SANTA TERESITA DEL NIniO JESUS,255906,214148,Urbana,...,26.30%,En inicio,42907017,b6fa379d-ffce-4df3-9747-2f8d530f4b6a,"AGREDA MEREGILDO, DIANA ELIZABETH","CHUMACERO ARE, RUTH VANESSA",QM,No corresponde,Cartavio Rum Company S. A. C - Grupo IF,HIiO9Srkv183p2l
4,2024,LA LIBERTAD,ASCOPE,UGEL ASCOPE,ASCOPE,ASCOPE,80021 SANTA TERESITA DEL NIniO JESUS,255906,214148,Urbana,...,53.80%,En proceso,42907017,b6fa379d-ffce-4df3-9747-2f8d530f4b6a,"AGREDA MEREGILDO, DIANA ELIZABETH","CHUMACERO ARE, RUTH VANESSA",QM,No corresponde,Cartavio Rum Company S. A. C - Grupo IF,HIiO9Srkv183p2l

In [171]:
data_clima_2023.nivel_de_logro.value_counts()

nivel_de_logro
Satisfactorio    3921
En proceso       3217
En inicio         581
Name: count, dtype: int64

In [172]:
data_clima_2024.nivel_de_logro.value_counts()

nivel_de_logro
En proceso       2754
En inicio        2214
Satisfactorio     513
Name: count, dtype: int64

In [173]:
data_clima_2023.columns

Index(['anio', 'region_ie', 'provincia_ie', 'ugel_ie', 'distrito_ie',
       'centropoblado_ie', 'institucion_educativa', 'codigolocal_ie',
       'codigomodular_ie', 'ruralidad', 'grado', 'periodo', 'evaluacion',
       'elemento', 'porcentaje_positivas', 'nivel_de_logro',
       'dni_participante', 'id_participante', 'participante', 'coordinador_a',
       'programa', 'anio_pdl', 'socios'],
      dtype='object')

In [174]:
data_clima_2024.columns

Index(['anio', 'region_ie', 'provincia_ie', 'ugel_ie', 'distrito_ie',
       'centropoblado_ie', 'institucion_educativa', 'codigolocal_ie',
       'codigomodular_ie', 'ruralidad', 'grado', 'periodo', 'evaluacion',
       'elemento', 'porcentaje__positivas', 'nivel_de_logro',
       'dni_participante', 'id_participante', 'participante', 'coordinador_a',
       'programa', 'anio_pdl', 'socios', 'id_seccion'],
      dtype='object')

In [175]:
data_clima_2024.isnull().sum()

anio                      0
region_ie                 0
provincia_ie              0
ugel_ie                   0
distrito_ie               0
centropoblado_ie          0
institucion_educativa     0
codigolocal_ie            0
codigomodular_ie          0
ruralidad                 0
grado                     0
periodo                   0
evaluacion                0
elemento                  0
porcentaje__positivas     0
nivel_de_logro            0
dni_participante          0
id_participante           0
participante              0
coordinador_a             0
programa                  0
anio_pdl                  0
socios                   21
id_seccion                0
dtype: int64

In [176]:
sorted(data_clima_2023.elemento.unique())

['Aprendizaje completamente interiorizado',
 'Comprensi√≥n comprobada y asegurada',
 'Expectativas rigurosas mantenidas',
 'Se crea una cultura positiva y un entorno de aprendizaje.',
 'Se establece un entorno de aprendizaje atractivo',
 'Se fomentan relaciones alentadoras y de apoyo.',
 'Se valoran los aportes y las ideas de los estudiantes']

In [177]:
sorted(data_clima_2024.elemento.unique())

['Aprendizaje completamente interiorizado',
 'Comprensi√≥n comprobada y asegurada',
 'Expectativas rigurosas mantenidas',
 'Se crea una cultura positiva y un entorno de aprendizaje',
 'Se establece un entorno de aprendizaje atractivo',
 'Se fomentan relaciones alentadoras y de apoyo',
 'Se valoran los aportes y las ideas de los estudiantes']

In [178]:
data_clima_2023.loc[data_clima_2023['elemento'] == 'Se crea una cultura positiva y un entorno de aprendizaje.', 'elemento'] = 'Se crea una cultura positiva y un entorno de aprendizaje'

In [179]:
data_clima_2023.loc[data_clima_2023['elemento'] == 'Se fomentan relaciones alentadoras y de apoyo.', 'elemento'] = 'Se fomentan relaciones alentadoras y de apoyo'

In [180]:
data_clima_2024 = data_clima_2024.rename(columns={'porcentaje__positivas': 'porcentaje_positivas'})

In [181]:
data_clima_2024 = data_clima_2024.drop(['id_seccion'], axis=1)

In [182]:
data_clima_aula = pd.concat([data_clima_2023, data_clima_2024], ignore_index=True)
data_clima_aula.shape

(13200, 23)

In [183]:
data_clima_aula.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13200 entries, 0 to 13199
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   anio                   13200 non-null  int64
 1   region_ie              13200 non-null  object
 2   provincia_ie           13200 non-null  object
 3   ugel_ie                13200 non-null  object
 4   distrito_ie            13200 non-null  object
 5   centropoblado_ie       13200 non-null  object
 6   institucion_educativa  13200 non-null  object
 7   codigolocal_ie         13200 non-null  int64
 8   codigomodular_ie       13200 non-null  int64
 9   ruralidad              13200 non-null  object
 10  grado                  13200 non-null  object
 11  periodo                13200 non-null  object
 12  evaluacion             13200 non-null  object
 13  elemento               13200 non-null  object
 14  porcentaje_positivas   13175 non-null  object
 15  nivel_de_logro         13200 non-null  object
 16  dni_participante       13186 non-null  object
 17  id_participante        13200 non-null  object
 18  participante           13200 non-null  object
 19  coordinador_a          13200 non-null  object
 20  programa               13200 non-null  object
 21  anio_pdl               13200 non-null  object
 22  socios                 13179 non-null  object
dtypes: int64(3), object(20)
memory usage: 2.3+ MB

In [184]:
data_clima_aula.id_participante.nunique()

472

In [185]:
data_academico.grado.unique()

array(['Pri-6xto', 'Pri-1ero', 'Pri-2ndo', 'Pri-3ero', 'Pri-5nto',
       'Pri-4rto', 'Sec-3ero', 'Sec-4rto', 'Sec-1ero', 'Sec-2ndo',
       'Sec-5nto', 'Ini-4rto', 'Ini-5nto', 'Ini-3ero'], dtype=object)

In [186]:
data_socioemocional.grado.unique()

array(['Sec-4rto', 'Sec-2ndo', 'Pri-4rto', 'Pri-1ero', 'Pri-5nto',
       'Sec-1ero', 'Pri-3ero', 'Sec-5nto', 'Pri-6xto', 'Sec-3ero',
       'Pri-2ndo'], dtype=object)

In [187]:
data_clima_aula.grado.unique()

array(['Pri-6xto', 'Pri-5nto', 'Pri-1ero', 'Pri-4rto', 'Pri-2ndo',
       'Pri-3ero', 'Sec-3ero', 'Sec-1ero', 'Sec-2ndo', 'Sec-5nto',
       'Sec-4rto'], dtype=object)

## Limpieza de datos

In [188]:
data_academico = data_academico.loc[~data_academico['grado'].isin(['Ini-5nto', 'Ini-4rto', 'Ini-3ero'])]

In [189]:
data_academico.grado.value_counts()

grado
Pri-5nto    15335
Pri-6xto    14834
Pri-2ndo    13290
Pri-4rto    12239
Pri-3ero    11412
Pri-1ero     7146
Sec-2ndo     5225
Sec-3ero     4828
Sec-1ero     3782
Sec-5nto     2923
Sec-4rto     2049
Name: count, dtype: int64

In [ ]:
# data_academico.loc[data_academico['grado'].str.startswith('Pri'), 'grado'] = 'Primaria'
# data_academico.loc[data_academico['grado'].str.startswith('Sec'), 'grado'] = 'Secundaria'

In [ ]:
# data_socioemocional.loc[data_socioemocional['grado'].str.startswith('Pri'), 'grado'] = 'Primaria'
# data_socioemocional.loc[data_socioemocional['grado'].str.startswith('Sec'), 'grado'] = 'Secundaria'

In [ ]:
# data_clima_aula.loc[data_clima_aula['grado'].str.startswith('Pri'), 'grado'] = 'Primaria'
# data_clima_aula.loc[data_clima_aula['grado'].str.startswith('Sec'), 'grado'] = 'Secundaria'

In [ ]:
data_academico.id_participante.nunique()

687

In [192]:
data_socioemocional.id_participante.nunique()

472

In [193]:
data_clima_aula.id_participante.nunique()

472

In [194]:
data_academico.to_csv("..\\data\\academico_.csv", index=False)

In [195]:
data_socioemocional.to_csv('..\\data\\socioemocional_.csv', index=False)

In [196]:
data_clima_aula.to_csv('..\\data\\clima_aula_.csv', index=False)

In [198]:
data_academico.anio.value_counts()

anio
2024    48482
2023    44581
Name: count, dtype: int64

In [202]:
data_academico.columns

Index(['anio', 'region_ie', 'provincia_ie', 'ugel_ie', 'distrito_ie',
       'centropoblado_ie', 'institucion_educativa', 'codigolocal_ie',
       'codigomodular_ie', 'ruralidad', 'estudiantes', 'grado', 'periodo',
       'curso', 'comp', 'nivel_de_logro', 'dni_participante',
       'id_participante', 'participante', 'coordinador_a', 'programa',
       'anio_pdl', 'socios'],
      dtype='object')

In [204]:
for column in data_academico.columns:
    print(f"Value counts for column '{column}':")
    print(data_academico[column].value_counts())
    print()

Value counts for column 'anio':
anio
2024    48482
2023    44581
Name: count, dtype: int64

Value counts for column 'region_ie':
region_ie
ANCASH                12655
LA LIBERTAD           12262
LIMA                  10704
AREQUIPA               9933
HUANCAVELICA           9847
LIMA METROPOLITANA     9011
AMAZONAS               8856
ICA                    6943
PIURA                  4411
CAJAMARCA              3655
JUNIN                  1959
PASCO                  1014
AREQUIPA\r\n            960
CUSCO                   661
CALLAO                  192
Name: count, dtype: int64

Value counts for column 'provincia_ie':
provincia_ie
LIMA            19715
HUARI            9858
ASCOPE           7169
ICA              6411
AREQUIPA         5737
ANGARAES         5442
LUYA             4790
PIURA            4411
HUAYTARA         4405
VIRU             4310
CAYLLOMA         3292
BAGUA            2456
SAN MARCOS       2257
YAULI            1959
HUARMEY          1670
CHACHAPOYAS      1358
BOLOGNESI        1018
PASCO            1014
AREQUIPA\r\n      960
HUALGAYOC         590
PISCO             532
TRUJILLO          453
SAN MIGUEL        391
CARAVELI          348
QUISPICANCHI      343
CAMANA            319
URUBAMBA          318
SAN PABLO         272
CONDESUYOS        237
CALLAO            192
CHEPEN            170
BONGARA           164
SANTA CRUZ        145
RECUAY            109
PACASMAYO         108
UTCUBAMBA          88
OTUZCO             52
Name: count, dtype: int64

Value counts for column 'ugel_ie':
ugel_ie
UGEL 01 SAN JUAN DE MIRAFLORES    10890
UGEL HUARI                         9858
UGEL 06 ATE                        7943
UGEL ASCOPE                        7221
UGEL ICA                           6411
UGEL ANGARAES                      5442
UGEL LUYA                          4790
UGEL HUAYTAR√Å                      4405
UGEL VIR√ö                          4310
UGEL TAMBOGRANDE                   4154
UGEL LA JOYA                       2891
UGEL CAYLLOMA                      2880
UGEL IBIR-IMAZA                    2456
UGEL SAN MARCOS                    2257
UGEL YAULI                         1959
UGEL HUARMEY                       1670
UGEL AREQUIPA SUR                  1664
UGEL AREQUIPA NORTE                1527
UGEL CHACHAPOYAS                   1358
UGEL BOLOGNESI                     1018
UGEL PASCO                         1014
UGEL 04 COMAS                       882
UGEL LA JOYA\r\n                    684
UGEL HUALGAYOC                      590
UGEL PISCO                          532
UGEL 02 - LA ESPERANZA              453
UGEL SAN MIGUEL                     391
UGEL CARAVELI                       348
UGEL AREQUIPA SUR\r\n               343
UGEL QUISPICANCHI                   343
UGEL CAMAN√Å                         319
UGEL URUBAMBA                       318
UGEL SAN PABLO                      272
UGEL PIURA                          257
UGEL CONDESUYOS                     237
DRE CALLAO                          192
UGEL CHEP√âN                         170
UGEL BONGAR√Å                        164
UGEL SANTA CRUZ                     145
UGEL RECUAY                         109
UGEL PACASMAYO                      108
UGEL UTCUBAMBA                       88
Name: count, dtype: int64

Value counts for column 'distrito_ie':
distrito_ie
PACHACAMAC       5882
LIRCAY           5202
SAN MARCOS       4852
ATE              4773
LURIN            4660
                 ...
ICHOCAN            42
COCABAMBA          30
GREGORIO PITA      18
PISUQUIA           10
ANRA                3
Name: count, Length: 99, dtype: int64

Value counts for column 'centropoblado_ie':
centropoblado_ie
PACHACAMAC      5455
VITARTE         4773
LURIN           4660
PUEBLO NUEVO    3672
SANTA ANITA     3170
                ...
DURAZNILLO        10
SHUSHUNGA          6
JIRCAHUAYI         5
JUPROG             3
CASCAY             3
Name: count, Length: 219, dtype: int64

Value counts for column 'institucion_educativa':
institucion_educativa
6006 SANTISIMA VIRGEN DE LOURDES    4764
1137 JOSE ANTONIO ENCINAS           3170
22511                               2794
6008 JOSE ANTONIO DAPELO            2349
36214 ALBERT EINSTEIN               2006
                                    ...
18180 SAN ANTONIO                     10
16319                                  6
86407                                  5
86470                                  3
86353                                  3
Name: count, Length: 269, dtype: int64

Value counts for column 'codigolocal_ie':
codigolocal_ie
318206    4764
338817    3170
212200    2794
314982    2349
177206    2006
          ...
9133        10
3819         6
23860        5
25406        3
23515        3
Name: count, Length: 269, dtype: int64

Value counts for column 'codigomodular_ie':
codigomodular_ie
328914     4764
318949     3170
277616     2747
328930     2292
429779     1904
           ...
1391473      10
402289        6
412536        5
412387        3
414052        3
Name: count, Length: 284, dtype: int64

Value counts for column 'ruralidad':
ruralidad
Urbana    52626
Rural     40437
Name: count, dtype: int64

Value counts for column 'estudiantes':
estudiantes
Est                                    143
dWFIejHonflhnt7                         34
8qrR2vv0DFFelOJ                         32
Jx7IDz0Fl0mXiNm                         32
yviejmrx2XJIpjD                         32
                                      ...
HILARIO CHICLOTE , PEDRO ALESSANDRO      1
C√°RDENAS GALLARDO , NATALI YASMIN        1
GUZMAN VERGARA , MARYORI ANTUANET        1
CASTILLO QUIROZ , CAMILA JHUVITZA        1
FLORES NARRO , FABIANE CAROLINA          1
Name: count, Length: 16618, dtype: int64

Value counts for column 'grado':
grado
Pri-5nto    15335
Pri-6xto    14834
Pri-2ndo    13290
Pri-4rto    12239
Pri-3ero    11412
Pri-1ero     7146
Sec-2ndo     5225
Sec-3ero     4828
Sec-1ero     3782
Sec-5nto     2923
Sec-4rto     2049
Name: count, dtype: int64

Value counts for column 'periodo':
periodo
Marzo 2024        23569
Diciembre 2024    17941
Marzo 2023        15336
Julio 2023        14967
Diciembre 2023    14278
Julio 2024         6972
Name: count, dtype: int64

Value counts for column 'curso':
curso
Matem√°tica              57683
Comunicaci√≥n            23197
Ingl√©s                   7579
Ciencia y Tecnolog√≠a     4604
Name: count, dtype: int64

Value counts for column 'comp':
comp
C08                23197
C23                15506
C26                15473
C25                13170
C24                13162
C14                 5388
C20                 2001
C22                 1990
C13                 1097
C15                 1094
C21                  613
C23,C24,C25,C26      372
Name: count, dtype: int64

Value counts for column 'nivel_de_logro':
nivel_de_logro
Satisfactorio    33486
En proceso       33225
En inicio        26352
Name: count, dtype: int64

Value counts for column 'dni_participante':
dni_participante
71769087    1189
72250784    1071
72868626    1005
40659425     936
72498422     732
            ...
32304831       5
72791884       3
10627821       3
72392498       3
26696069       1
Name: count, Length: 674, dtype: int64

Value counts for column 'id_participante':
id_participante
b29b47192024                            1005
b29b38122024                             979
b29b3e4f2024                             813
b29b421e2024                             732
7126386b                                 676
                                        ...
95b7cd87                                   5
c8bb1f5c                                   3
64b5d1a83fd444c92f0e125a                   3
41de32bd-434b-402e-a3b7-49966e789908       3
e3505f37-e588-4c71-9351-24a764ee6834       1
Name: count, Length: 687, dtype: int64

Value counts for column 'participante':
participante
C√âLIZ V√ÅSQUEZ, GABRIELA            1189
VILCAHUAMAN NOLI, GINA MILAGROS    1133
LOBATON FLORES, CADY EYTABEL       1071
TEQUEN SANCHEZ, HUGO MARCO         1032
MANCILLA HURTADO, URSULA LISSET     936
                                   ...
CAMPOS FLORES, OSWALDO                5
ANAYA UGARTE, NATALY ADRIANITA        3
Tarazona Herrera, Miriam √örsula       3
HUERTA CERVANTES, ANIBAL              3
CARO RITUAY, CLARA JULIETA            1
Name: count, Length: 630, dtype: int64

Value counts for column 'coordinador_a':
coordinador_a
TARAZONA SERNAQUE, ANDREA MARGOT       10970
ROJAS AGUILAR, DIANA CAROLINA           9629
MONTOYA PEniA, ROSA CELINA              7514
VALENCIA OCHOCHOQUE, NATALY OREALIZ     6163
PACHECO CACERES, SUSAN JHANETT          5729
                                       ...
Nilda Carri√≥n Zavaleta                    65
Paula Soledad Amador Mendoza              57
Tulio Agust√≠n Lescano Avalos              56
Misa√©l No√© Idrogo Marino                  52
UGEL HUARI                                 3
Name: count, Length: 62, dtype: int64

Value counts for column 'programa':
programa
PDL              42786
QM               42609
Palanca 1 y 2     7668
Name: count, dtype: int64

Value counts for column 'anio_pdl':
anio_pdl
No corresponde    50277
2do anio          24533
1er anio          14562
Alumni             3265
Otro                426
Name: count, dtype: int64

Value counts for column 'socios':
socios
Antamina,Franco Nevada,Wheaton Precious Metals                                                                                                   12232
Quimtia S. A. - Grupo IF                                                                                                                         10115
Fosforera  Peruana S. A (FOPESA) - Grupo IF                                                                                                       7943
BHP                                                                                                                                               6599
Scotiabank                                                                                                                                        6467
Farmex S. A. - Grupo IF                                                                                                                           4892
Hortifrut                                                                                                                                         4310
Fundaci√≥n Albert Heijn - FLP/AHF                                                                                                                  3738
Compartamos Financiera                                                                                                                            3119
Minera Volcan                                                                                                                                     2973
Cerro Verde                                                                                                                                       2769
Cartavio Rum Company  S. A. C - Grupo IF                                                                                                          2353
Fundaci√≥n Velez Reyes , WebHelp                                                                                                                   1992
COEXA                                                                                                                                             1519
Fundaci√≥n Manuel J Bustamante                                                                                                                     1192
Asociaci√≥n Zinia,Old Dart Foundation                                                                                                              1049
Old Dart Foundation                                                                                                                                988
FIDAMAR                                                                                                                                            904
WebHelp                                                                                                                                            881
Fundaci√≥n Velez Reyes                                                                                                                              875
Solidaridad en Marcha (San Juan Apostol) , La Ib√©rica , Bodegas Najar , Grupo Mor√°n , Michell                                                      855
Bodegas Najar,Grupo Mor√°n,La Ib√©rica,Michell,Solidaridad en Marcha (San Juan Apostol)                                                              767
Old Dart Foundation,WebHelp                                                                                                                        714
BNV Minera La Zanja                                                                                                                                536
ASOPARACAS                                                                                                                                         532
Asociaci√≥n Zinia , Teach For All                                                                                                                   446
Compartamos Financiera,Fundaci√≥n Manuel J Bustamante                                                                                               433
No tiene                                                                                                                                           427
BHP,Fundacion Familia Beck Romero                                                                                                                  373
Teach For All                                                                                                                                      354
BanBif                                                                                                                                             343
FNAI (Fundaci√≥n Ninios del Arco Iris)                                                                                                              318
Municipalidad de Chugur                                                                                                                            300
Ensenia Per√∫                                                                                                                                       290
Sociedad Agricola Moche Norte                                                                                                                      278
CPM                                                                                                                                                272
Bodegas Najar , Grupo Mor√°n , La Ib√©rica , Michell                                                                                                 212
Sunshine                                                                                                                                           206
Sealand and Maersk                                                                                                                                 192
Grupo Inca / Colca Lodge,Grupo Inca / Incalpaca,Grupo Inca / Incatops,Grupo Mor√°n,La Ib√©rica,Michell,Solidaridad en Marcha (San Juan Apostol)      117
SPDA , Fundaci√≥n Velez Reyes                                                                                                                       114
Cartavio Rum Company S. A. C - Grupo IF                                                                                                            114
Grupo Inca / Incalpaca , Grupo Inca / Colca Lodge , Grupo Inca / Incatops                                                                          112
Old Dart Foundation,Teach For All                                                                                                                   96
Grupo Mor√°n                                                                                                                                         84
Name: count, dtype: int64

In [205]:
# Get the column names of each DataFrame
cols1 = set(data_academico.columns)
cols2 = set(data_socioemocional.columns)
cols3 = set(data_clima_aula.columns)

# Find the intersection of all three sets
common_columns = cols1.intersection(cols2, cols3)
common_columns

{'anio',
 'anio_pdl',
 'centropoblado_ie',
 'codigolocal_ie',
 'codigomodular_ie',
 'coordinador_a',
 'distrito_ie',
 'dni_participante',
 'grado',
 'id_participante',
 'institucion_educativa',
 'nivel_de_logro',
 'periodo',
 'programa',
 'provincia_ie',
 'region_ie',
 'ruralidad',
 'socios',
 'ugel_ie'}