In [1]:
import pandas as pd
import numpy as np

## PDL

In [2]:
data_pdl_2023 = pd.read_csv('../data/pdl_2023.csv', encoding='latin1', sep=';')
data_pdl_2024 = pd.read_csv('../data/pdl_2024.csv', encoding='latin1', sep = ';')

In [3]:
(data_pdl_2023.isnull().sum()/data_pdl_2023.shape[0])*100

anio                      0.000000
region_ie                 0.000000
provincia_ie              0.000000
ugel_ie                   0.000000
distrito_ie               0.000000
centropoblado_ie          0.000000
institucion_educativa     0.000000
codigolocal_ie1           0.000000
codigomodular_ie          0.000000
ruralidad                 0.000000
participante              0.000000
coordinador_a             0.000000
programa                  0.000000
anio_pdl                  0.000000
socios                    1.709402
competencia_original      0.000000
periodo                   0.000000
puntaje                   0.925926
fortalezas               10.897436
oportunidades            14.387464
recomendaciones          26.780627
id_participante           0.000000
dtype: float64

In [4]:
data_pdl_2023.id_participante.nunique()

169

In [5]:
data_pdl_2024.id_participante.nunique()

116

In [6]:
data_pdl_2023.columns

Index(['anio', 'region_ie', 'provincia_ie', 'ugel_ie', 'distrito_ie',
       'centropoblado_ie', 'institucion_educativa', 'codigolocal_ie1',
       'codigomodular_ie', 'ruralidad', 'participante', 'coordinador_a',
       'programa', 'anio_pdl', 'socios', 'competencia_original', 'periodo',
       'puntaje', 'fortalezas', 'oportunidades', 'recomendaciones',
       'id_participante'],
      dtype='object')

In [7]:
data_pdl_2023 = data_pdl_2023[['periodo', 'id_participante', 'participante', 'ruralidad', 'competencia_original', 'puntaje']]

In [8]:
data_pdl_2023 = data_pdl_2023.loc[~(data_pdl_2023['puntaje'].isin(['No se cuenta con evidencia suficiente para brindar un score', 'Nivel de logro indefinido']))]

In [9]:
data_pdl_2023 = data_pdl_2023.rename(columns={'competencia_original': 'competencia'})

In [10]:
data_pdl_2023.puntaje.unique()

array(['1.5', '2.5', '2', '0.5', '1', '4', '3.5', '3', nan], dtype=object)

In [11]:
data_pdl_2023.puntaje.value_counts()

puntaje
2.5    392
3      338
2      281
1.5    156
3.5    104
1       76
4       22
0.5      6
Name: count, dtype: int64

In [12]:
data_pdl_2024.columns

Index(['anio', 'region_ie', 'provincia_ie', 'ugel_ie', 'distrito_ie',
       'centropoblado_ie', 'institucion_educativa', 'codigolocal_ie1',
       'codigomodular_ie', 'ruralidad', 'participante', 'coordinador_a',
       'programa', 'anio_pdl', 'socios', 'competencia', 'periodo', 'puntaje',
       'fortalezas', 'oportunidades', 'recomendaciones', 'id_participante'],
      dtype='object')

In [13]:
data_pdl_2024 = data_pdl_2024[['periodo', 'id_participante', 'participante', 'ruralidad', 'competencia', 'puntaje']]

In [14]:
data_pdl_2024.puntaje.value_counts()

puntaje
3.0    577
2.0    336
4.0    132
1.0     18
0.0      9
Name: count, dtype: int64

In [15]:
data_pdl = pd.concat([data_pdl_2023, data_pdl_2024], ignore_index=True)
data_pdl.shape

(2471, 6)

In [16]:
data_pdl.periodo.value_counts()

periodo
Julio 2023        651
Marzo 2023        641
Marzo 2024        414
Diciembre 2024    336
Julio 2024        333
Diciembre 2023     96
Name: count, dtype: int64

In [17]:
# Pivot the table
# Convert 'puntaje' column to numeric, coercing errors to NaN
data_pdl['puntaje'] = pd.to_numeric(data_pdl['puntaje'], errors='coerce')
data_pdl = data_pdl.pivot_table(
    index=['periodo', 'id_participante', 'participante', 'ruralidad'],  # Group by participant and period
    columns='competencia',       # Use 'competencia_original' as new columns
    values='puntaje',                     # Use 'puntaje' as values
    aggfunc='mean'                        # Take the mean if there are duplicates
).reset_index()  # Reset index to flatten the DataFrame

# Rename columns to remove the multi-index
data_pdl.columns.name = None

data_pdl.head()

,periodo,id_participante,participante,ruralidad,C1 y C2,C3,C4
0,Diciembre 2023,b29b117e,"ALBINO ARBAIZA, JULISSA ELENA",Rural,2.25,3.0,2.0
1,Diciembre 2023,b29b1328,"MONTENEGRO CAJUSOL, LISETH",Urbana,2.75,3.0,1.5
2,Diciembre 2023,b29b1441,"PADILLA NAPAN, MILAGROS DALINA",Rural,2.00,2.5,1.0
3,Diciembre 2023,b29b193f,"CCALLATA FLORES, JHON",Rural,2.00,3.0,1.5
4,Diciembre 2023,b29b1ecc,"QUISPE APAZA, THAID LINDALVA",Rural,2.00,3.5,2.0

## QM

In [18]:
data_qm_2023 = pd.read_csv('../data/qm_2023.csv', encoding='latin1', sep = ';')
data_qm_2024 = pd.read_csv('../data/qm_2024.csv', encoding='latin1', sep = ';')

In [19]:
data_qm_2023.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1114 entries, 0 to 1113
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   anio                   1114 non-null   int64
 1   region_ie              1114 non-null   object
 2   provincia_ie           1114 non-null   object
 3   ugel_ie                1114 non-null   object
 4   distrito_ie            1114 non-null   object
 5   centropoblado_ie       1114 non-null   object
 6   institucion_educativa  1114 non-null   object
 7   codigolocal_ie1        1114 non-null   int64
 8   codigomodular_ie       1114 non-null   int64
 9   ruralidad              1114 non-null   object
 10  participante           1114 non-null   object
 11  coordinador_a          1114 non-null   object
 12  programa               1114 non-null   object
 13  socios                 1114 non-null   object
 14  habilidad              1114 non-null   object
 15  periodo                1114 non-null   object
 16  nivel_de_logro         1114 non-null   object
 17  conclusiones           898 non-null    object
 18  id_participante        1114 non-null   object
dtypes: int64(3), object(16)
memory usage: 165.5+ KB

In [20]:
data_qm_2023 = data_qm_2023[['periodo', 'id_participante', 'participante', 'ruralidad', 'habilidad', 'nivel_de_logro']]

In [21]:
data_qm_2024.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1824 entries, 0 to 1823
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   anio                   1824 non-null   int64
 1   region_ie              1824 non-null   object
 2   provincia_ie           1824 non-null   object
 3   ugel_ie                1824 non-null   object
 4   distrito_ie            1824 non-null   object
 5   centropoblado_ie       1824 non-null   object
 6   institucion_educativa  1824 non-null   object
 7   codigolocal_ie1        1824 non-null   int64
 8   codigomodular_ie       1824 non-null   int64
 9   ruralidad              1824 non-null   object
 10  participante           1824 non-null   object
 11  coordinador_a          1824 non-null   object
 12  programa               1824 non-null   object
 13  socios                 1824 non-null   object
 14  habilidad              1571 non-null   object
 15  periodo                1824 non-null   object
 16  nivel_de_logro         1612 non-null   object
 17  conclusiones           1589 non-null   object
 18  id_participante        1824 non-null   object
dtypes: int64(3), object(16)
memory usage: 270.9+ KB

In [22]:
data_qm_2024 = data_qm_2024[['periodo', 'id_participante', 'participante', 'ruralidad', 'habilidad', 'nivel_de_logro']]

In [23]:
data_qm_2023.nivel_de_logro.value_counts()

nivel_de_logro
Desarrollado    464
En proceso      390
Emergente       260
Name: count, dtype: int64

In [24]:
data_qm_2024.nivel_de_logro.value_counts()

nivel_de_logro
En proceso      794
Desarrollado    518
Emergente       300
Name: count, dtype: int64

In [25]:
data_qm_2023.columns

Index(['periodo', 'id_participante', 'participante', 'ruralidad', 'habilidad',
       'nivel_de_logro'],
      dtype='object')

In [26]:
data_qm_2024.columns

Index(['periodo', 'id_participante', 'participante', 'ruralidad', 'habilidad',
       'nivel_de_logro'],
      dtype='object')

In [27]:
data_qm_2023 = data_qm_2023.loc[~(data_qm_2023['habilidad'] == 'Conecta con otros y trabaja en equipo')]

In [28]:
sorted(data_qm_2023.habilidad.unique())

['Crea o adapta experiencias de aprendizaje centradas en los estudiantes',
 'Crea y facilita entornos de aprendizaje significativos, seguros y motivadores',
 'Desarrolla proyectos innovadores',
 'Gestiona sus emociones y bienestar',
 'Potencia su autoconocimiento y conecta con\xa0su\xa0propósito',
 'Promueve el crecimiento de las habilidades socioemocionales de sus estudiantes',
 'Realiza evaluación formativa de manera efectiva']

In [29]:
data_qm_2024 = data_qm_2024.dropna(subset=['habilidad'])

In [30]:
data_qm_2024 = data_qm_2024.loc[~(data_qm_2024['habilidad'] == 'Desarrolla iniciativas innovadoras')]

In [31]:
sorted(data_qm_2024.habilidad.unique())

['Crea o adapta experiencias de aprendizaje centradas en los estudiantes',
 'Crea y facilita entornos de aprendizaje significativos, seguros y motivadores',
 'Desarrolla proyectos innovadores',
 'Gestiona sus emociones y bienestar',
 'Potencia su autoconocimiento y conecta con\xa0su\xa0propósito',
 'Promueve el crecimiento de las habilidades socioemocionales de sus estudiantes',
 'Realiza evaluación formativa de manera efectiva']

In [32]:
data_qm = pd.concat([data_qm_2023, data_qm_2024], ignore_index=True)
data_qm.shape

(2119, 6)

In [33]:
data_qm.id_participante.nunique()

374

In [34]:
# Custom function to calculate mode
def calculate_mode(series):
    mode = series.mode()
    if not mode.empty:
        return mode.iloc[0]  # Return the first mode if there are multiple
    return np.nan  # Return NaN if no mode exists

In [35]:
# Pivot the table
# Convert 'nivel_de_logro' column to numeric, coercing errors to NaN
#data_qm['nivel_de_logro'] = pd.to_numeric(data_qm['puntaje'], errors='coerce')
data_qm = data_qm.pivot_table(
    index = ['periodo', 'id_participante', 'participante', 'ruralidad'],  # Group by participant and period
    columns ='habilidad',       # Use 'habilidad' as new columns
    values ='nivel_de_logro',                     # Use 'puntaje' as values
    aggfunc = calculate_mode                         # Use the custom mode function
).reset_index()  # Reset index to flatten the DataFrame

# Rename columns to remove the multi-index
data_qm.columns.name = None

data_qm.head()

,periodo,id_participante,participante,ruralidad,Crea o adapta experiencias de aprendizaje centradas en los estudiantes,"Crea y facilita entornos de aprendizaje significativos, seguros y motivadores",Desarrolla proyectos innovadores,Gestiona sus emociones y bienestar,Potencia su autoconocimiento y conecta con su propósito,Promueve el crecimiento de las habilidades socioemocionales de sus estudiantes,Realiza evaluación formativa de manera efectiva
0,Diciembre 2023,0cda3318,"LIZANA CHACCHI, CONSUELO SOLEDAD",Urbana,NaN,Desarrollado,Desarrollado,NaN,NaN,Desarrollado,NaN
1,Diciembre 2023,1812a66c,"ZAVALETA QUIPUSCOA, MONICA ELCIRA",Urbana,NaN,En proceso,Desarrollado,NaN,NaN,NaN,NaN
2,Diciembre 2023,1a63f563,"CARRION OCAniA, BRISEIDA KARIN",Rural,NaN,Desarrollado,En proceso,NaN,NaN,Desarrollado,NaN
3,Diciembre 2023,23440576,"BAZALAR PADILLA, GLADYS VIOLETA",Rural,Desarrollado,NaN,Desarrollado,NaN,NaN,Desarrollado,NaN
4,Diciembre 2023,2d51c3f6,"ROSARIO ROLDAN, JOHN RONALD",Urbana,En proceso,En proceso,En proceso,NaN,NaN,NaN,NaN

In [36]:
(data_pdl.isnull().sum()/data_pdl.shape[0])*100

periodo            0.000000
id_participante    0.000000
participante       0.000000
ruralidad          0.000000
C1 y C2            0.000000
C3                 1.173021
C4                 1.906158
dtype: float64

In [37]:
(data_qm.isnull().sum()/data_qm.shape[0])*100

periodo                                                                            0.000000
id_participante                                                                    0.000000
participante                                                                       0.000000
ruralidad                                                                          0.000000
Crea o adapta experiencias de aprendizaje centradas en los estudiantes            52.914798
Crea y facilita entornos de aprendizaje significativos, seguros y motivadores     41.816143
Desarrolla proyectos innovadores                                                  58.183857
Gestiona sus emociones y bienestar                                                85.313901
Potencia su autoconocimiento y conecta con su propósito                           93.497758
Promueve el crecimiento de las habilidades socioemocionales de sus estudiantes    38.116592
Realiza evaluación formativa de manera efectiva                                   92.713004
dtype: float64

In [38]:
null_percentage = data_qm.isnull().mean()
# Filter columns with more than 70% null values
columns_to_drop = null_percentage[null_percentage > 0.7].index

# Drop the columns
data_qm = data_qm.drop(columns=columns_to_drop)

In [39]:
data_qm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 8 columns):
 #   Column                                                                          Non-Null Count  Dtype
---  ------                                                                          --------------  -----
 0   periodo                                                                         892 non-null    object
 1   id_participante                                                                 892 non-null    object
 2   participante                                                                    892 non-null    object
 3   ruralidad                                                                       892 non-null    object
 4   Crea o adapta experiencias de aprendizaje centradas en los estudiantes          420 non-null    object
 5   Crea y facilita entornos de aprendizaje significativos, seguros y motivadores   519 non-null    object
 6   Desarrolla proyectos innovadores                                                373 non-null    object
 7   Promueve el crecimiento de las habilidades socioemocionales de sus estudiantes  552 non-null    object
dtypes: object(8)
memory usage: 55.9+ KB

In [40]:
data_pdl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   periodo          682 non-null    object
 1   id_participante  682 non-null    object
 2   participante     682 non-null    object
 3   ruralidad        682 non-null    object
 4   C1 y C2          682 non-null    float64
 5   C3               674 non-null    float64
 6   C4               669 non-null    float64
dtypes: float64(3), object(4)
memory usage: 37.4+ KB

In [41]:
data_pdl.to_csv("..\\data\\data_pdl_.csv", index=False)

In [42]:
data_qm.to_csv('..\\data\\data_qm_.csv', index=False)

In [43]:
data_pdl.sample(20)

,periodo,id_participante,participante,ruralidad,C1 y C2,C3,C4
95,Diciembre 2024,b29b3dc92024,"CCALACHUA CHICAÑA, KATY RAYMUNDA",Rural,3.00,3.0,3.0
475,Marzo 2023,0173c939,"MOGOLLON VENEGAS, CINTHIA LIZETH",Rural,2.50,2.5,2.0
318,Julio 2024,64ac1ce7add6a9d39b09b391,"TINEO SANCHEZ, THALIA JHOANA",Urbana,3.00,4.0,4.0
192,Julio 2023,0172d070,"PIZARRO PAREDES, LIZBETH DUBERLY",Rural,2.50,2.5,2.5
208,Julio 2023,0173ce47,"URQUIZA RODRIGUEZ, LILIANA ELIZABETH",Rural,3.75,4.0,2.0
133,Diciembre 2024,bd300605,"ROJAS BERAÚN, ARELY",Rural,2.00,3.0,3.0
612,Marzo 2024,b29b193f2024,"CCALLATA FLORES, JHON",Urbana,2.00,3.0,3.0
556,Marzo 2023,b29b60f0,"NOLASCO PANIAGUA, JUAN OMAR",Urbana,1.50,2.5,1.5
55,Diciembre 2024,alumni71195880,"FERNANDEZ CONTRERAS, SHERLEY PAMELA",Urbana,0.00,0.0,0.0
678,Marzo 2024,pdl2024_a_72077180,"ZEGARRA QUEZADA, ZADITH",Rural,2.00,2.0,2.0
399,Julio 2024,b29b65cd2024,"ZAPATA SOSA, LUIS JUNIOR",Urbana,2.00,3.0,3.0
12,Diciembre 2023,b29b421e,"TEQUEN SANCHEZ, HUGO MARCO",Rural,2.25,3.0,2.5
49,Diciembre 2024,64af72dc86bbe9deb609bbf1,"AVELINO MARCELO, ROSSIO KARLA",Rural,3.00,2.0,3.0
164,Julio 2023,0172b3c6,"REQUEJO GOICOCHEA, OSCAR GIANCARLO",Rural,3.25,4.0,3.5
312,Julio 2024,64a33c6eb96621dfd6079665,"CHACALIAZA ASTOCAZA, JUAN JOSÉ",Rural,2.00,2.0,2.0
58,Diciembre 2024,b29b0a722024,"MANCILLA HURTADO, URSULA LISSET",Urbana,3.00,3.0,3.0
311,Julio 2024,64a33c5eb96b21dfd6079728,"ASENCIO FLORES, LUZ MERCEDES",Urbana,2.00,2.0,2.0
618,Marzo 2024,b29b27c12024,"MOSCOSO ESPINOZA, ANABEL BRIGYT",Rural,2.00,2.0,2.0
256,Julio 2023,b29b301b,"MAYTA JIMENEZ, WENNIE",Urbana,2.00,2.5,2.5
8,Diciembre 2023,b29b35f6,"BOZA CCOYLLAR, BRANDO",Rural,2.75,2.5,2.5

In [44]:
data_pdl.id_participante.nunique()

283